.menu_list {
  float: left;
  .menu_item {
    float: left;
    .bordered;
    border-radius: 15px;
    margin-left: 7px;
    a {
      padding: 5px 20px;
      span {
        .highlight;
      }
    }
  }
}