.menu_list {
  right: 0;
  float: left;
  li {
    float: left;
    border: 2px solid #fff;
    padding: 5px 20px;
    border-radius: 15px;
    margin-left: 7px;
    a {
      color: #fff;
      font-weight: 500;
    }
  }
}