.menu_list {
  float: left;
  li {
    float: left;
    border: 2px solid #fff;
    border-radius: 15px;
    margin-left: 7px;
    a {
      padding: 5px 20px;
      span {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}