html {  
  height: 100%;
}
body {  
  height: 100%;
  margin: 0;
  padding: 50px;
  overflow-x: hidden;
  width: 100%;
  background: url('../assets/images/background.png') no-repeat;
}

nav, header, section {
  display: block;
}

ul, ol {
  list-style: none;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@import 'GigaGenie/genie';
@import 'Base/Header/menu';
