html {  
  height: 100%;
}
body {  
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  background: url('../assets/images/background.jpg') no-repeat;
}

a, nav, header, footer, aside, article, main, figure, figcaption, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

ul, ol {
  list-style: none;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@import 'GenieSDK/genie';
@import 'Home/all';
@import 'Base/all';
