.mic_icon {
  background: url('../assets/images/mic.png');
  width: 34px;
  height: 52px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
}

.border_t_l {
  border-top-left-radius: 16px;
}

.border_t_r {
  border-top-right-radius: 16px;
}

.border_b_l {
  border-bottom-left-radius: 16px;
}

.border_b_r {
  border-bottom-right-radius: 16px;
}

.goods_wrapper {
  padding: 0 65px 61px 65px;
  display: flex;
  flex-wrap: wrap;
  .goods_box.event {
    width: 265px;
    position: relative;
    margin-right: 3px;
    margin-bottom: 3px;
    // &:before {
    //   box-sizing: border-box;
    //   content: '';
    //   display: block;
    //   padding-top: 165px;
    // }
    a {
      height: 333px;
      background-color: @yellow !important;
      .event_label {
        width: 81px;
        height: 33px;
        line-height: 33px;
        border-radius: 40px;
        background-color: @light-blue;
        margin: 0 auto;
        margin-top: 50px;
        span {
          color: #fff;
          font-size: 18px;
          vertical-align: baseline;
        }
      }
      .goods_title {
        color: @light-blue;
        font-size: 35px;
        padding-top: 0;
      }
    }
  }
  .goods_box {
    position: relative;
    width: 265px;
    height: 165px;
    margin-right: 3px;
    margin-bottom: 3px;
    // &:before {
    //   box-sizing: border-box;
    //   content: '';
    //   display: block;
    //   padding-top: 165px;
    // }
    
    a {
      margin: 0;
      width: 265px;
      height: 165px;
      background-color: #fff;
      top: 0em;
      left: 0em;
      position: absolute;
      text-align: center;
      color: #000;
      .goods_title {
        color: @black;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: -1px;
        padding-top: 20px;
      }
      img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
.img_scale_down {
  width: 100px;
  height: 100px;
}