.home_title {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 40px;
  letter-spacing: -6px;
}

.goods_wrapper {
  flex-wrap: wrap;
  padding: 0 65px 61px 65px;
  display: flex;
  align-items: center;
  .goods_box {
    width: 265px;
    height: 165px;
    background-color: #fff;
    display: inherit;
    margin-right: 3px;
    margin-bottom: 3px;
    p {
      width: 100%;
      text-align: center;
      color: #000;
    }
  }
}